
.montserrat-text{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.screen{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.nav{
    width: 12vw;
    height: 99vh;
    padding: 0.5vh 1vw 0.5vh 1vw;
    background-color: rgb(207, 206, 206);
}

.nav img{
    width: 35px;
    height: 35px;
}

.nav h1{
    font-size: 1.7em;
}

.nav p{
    font-size: 1.5em;
}

.dashItems{
    margin-top: 4vh;
    display: grid;
    grid-template-rows: repeat(5, 6vh);
    grid-template-columns: repeat(2,4vw);
    align-items: center;
}

.supportItems{
    margin-top: 6vh;
    display: grid;
    grid-template-rows: repeat(5, 5vh);
    grid-template-columns: repeat(2,4vw);
    align-items: center;
}

.info{
    width: 86vw;
    height: 100vh;
    background-color: rgba(23, 168, 168, 0.83);

    display: flex;
    flex-direction: column;
}

.header{
    width: 86vw;
    height: 23vh;
    background-color: rgba(255, 255, 255, 0.762);

    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.search{
    display: flex;
    flex-direction: row;
    margin: 1vh 1vw 0vh 10vw;
    gap: 2vw;
    
    align-items: center;
}

.search img{
    width: 2.5vw;
    height: auto;
}

.searchBar{
    border-radius: 20px;
    border-style: solid;
    width: 40vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.598);

    font-size: 1.6em;
    color: black;
}

#bell{
    margin-left: 5vw;
}

#profile{

    display: flex;
    justify-content: center;  
    align-items: center;

    width: 2.5vw;
    height: 2.5vw;
    background-color: grey;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5em;

}

#name{
    font-size: 1.6em;
}

.bio{
    
    padding-bottom: 3vh;
    margin-left: 10vw;

    display: flex;
    flex-direction: row;
    gap: 3vw;
    align-items: center;
}

#lowerProfile{
    display: flex;
    justify-content: center;  
    align-items: center;

    width: 4vw;
    height: 4vw;
    background-color: grey;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5em;
}

#userName{
    font-size: 1.7em;
}

.bioButton{
    display: flex;
    justify-content: center;  
    align-items: center;

    width: 6vw;
    height: 4vh;
    background-color: aqua;
    
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
}

#leftButton{
    margin-left: 16vw;
}

.main{
    display: flex;
    flex-direction: row;
}

.projects{
    display: flex;
    flex-direction: column;

    padding: 1vh 1vw 1vh 1vw;
}

.projects p{
    font-size: 1.4em;
}

.projectGrid{
    display: grid;
    grid-template-columns: repeat(3,21vw);
    gap: 1vh;
}

.projectTile{
    width: 20vw;
    height: 33vw;

    border-radius: 5px;
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectTile h1{
    font-size: 1.6em;
}

.projectTile img{
    width: 17vw;
    height: auto;
    max-height: 40vh;
    border-radius: 10px;
}

#calc{
    width: 15vw;
    height: auto;
}

#Sign-Up{
    width: 15vw;
}

.announcements{
    padding: 1vh 1vw 0vh 1vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.announcements p{
    font-size: 1.4em;
}

.announcPage{
    background-color: white;
    width: 16vw;
    height: 62vh;

    border-radius: 10px;
    border-width: 1px;

    display: flex;
    flex-direction: column;

    gap: 3vh;
    align-items: center;

    padding: 5vh 1vw 0vh 1vw;
}

.thread{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: wheat;
    width: 14vw;
    height: 9vh;
    padding: 1vh 1vw 1vh 1vw;

    font-size: 1em;
}